@charset 'UTF-8';

:root {
    --cor0:#2CEA69;
    --cor1:#26C759;
    --cor2:#1E9E47;
    --cor3:#177836;
    --cor4:#0E4A21;
    --cor5:#06200e;
}
header {
    background-color: var(--cor5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
section#logo {
   text-align: center;
}
body {
    margin: 0;
    background-color: transparent;
    background-image: url(imagens/fundo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    text-align: center;
    margin: auto;
    color: whitesmoke;
    font-family: cursive;
    font-size: 20px;
}
div#conteudo {
    background-color: #0E4A21;
}
div#espaço {
    height: 150px;
    background-color: transparent;
}
p {
    padding: 8px;
}